.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 960px;
  margin: 0 auto;
  grid-gap: 10px;
  /* grid-template-areas: "header"
                        "main"
                        "footer"; */
  grid-template-rows: repeat(autofill, minmax(300px, 1fr));
  max-width: 100%;
  /* grid-template-columns: 960px;  */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  /* grid-template-columns: 25% 25% 25%; */
}

header {
  grid-area: header;
}

.box {
  border-radius: 5px;
  /* padding: 2em; */
  /* height: 200px;
width: 200px; */
  /* background: rgba(0, 0, 0, 0.1); */
  /*border-radius: 5px; */
  /* padding: 2em;
grid-column: auto / span 1;
grid-row: auto / span 2; */
}

.mainbox {
  grid-column: auto / span 3;
  grid-row: auto / span 2;
  /* background: rgba(255, 0, 0, 0.25); */
  /* grid-area: main;
  width: 25%;
  height: 15%; */

  /* grid-column: auto / span 3;
  grid-row: auto / span 2; */
}

.img_wrap {
  position: relative;
  /* height: 200px;
  width: 257px; */
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 5;
/* color: RGB(112, 174, 221); */
color: black;

}

.img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  visibility: hidden;
  opacity: 0;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
object-fit: cover;
/* width: 300px;
height: 300px; */
/* height: 100%; */
border-radius: 8px;
/* width: 75%
height: auto; */
}

 /* .box:hover {
  opacity: 0.5;
} */

h2 {
  font-family: 'Cantata One', sans-serif;
  font-size: 60px;
  padding-top: 20px;
  text-align: center;
  color: RGB(112, 174, 221);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Tenor Sans', sans-serif;
}

p {
  font-family:'Tenor Sans', sans-serif;
  /* text-align: center; */
  /* line-height: 5px; */
  text-align: left;
}

a {
  text-decoration: none;
  /* font-family: sans-serif; */
  color: black;
}

a:hover {
  color: RGB(112, 174, 221);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  padding-left: 130px;
  padding-right: 130px;
  text-align: center;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

li a:hover {
  background-color: white;
  border: 2px solid black;
  /* padding-top: 30px; */
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  /* height: 50%;
  width: 50%; */
grid-gap: 50px;
max-width: 100%;
}

.pic {
width: 85%;
height: auto;
}

.cute {
  width: 100%;
  height: 100%;
}

.maintext {
  font-family: 'Tenor Sans', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Tenor Sans', sans-serif;
  text-align: center;
}

footer {
  font-size: 10px;
  font-family: sans-serif;
}

h4 {
  position: relative;
text-align: center;
color: white;
  font-family:'Tenor Sans', sans-serif;
  color: black;
  font-weight: 300;
  transition: color 1s ease;
}

h4:hover {
  color: white;
}

.chairs {
  width: 85%;
  height: auto;
  font-size: 16px;
  }
